
:root {
    --bg-color: rgb(17,20,31);
    --text-color: #fff;
    --card-bg: linear-gradient(0deg, rgba(21,28,46) 0%, rgba(17,0,32,.5) 100%);
}

.lightMode {
    --bg-color: #fff;
    --text-color: #333;
    --card-bg: #fff;
}